build
.DS_Store
*.vmupack
comport.txt
.vscode/

managed_components
dependencies.lock
sdkconfig
sdkconfig.old
vmupacker_venv/
vmupacker_debug/
CLAUDE.md

# GitBook build output
docs/_book/
docs/node_modules/
.vscode
